<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>申请经销商</title>
	<link href="../css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/template.js"></script>
</head>

<body class="gray">
<div id="template_header"></div>

<div id="template_body">
	<section>
		<div class="container">
			<div class="row set-place address">
				<div class="input bg-white border-bottom safe">
					<label class="label-con">姓&nbsp;&nbsp;&nbsp;名</label>
					<button class="ab-btn btn-white"></button>
					<input type="text" name="name" placeholder="MC大队长" class="btn-white right text-left new-input">
				</div>
				<div class="input bg-white border-bottom safe">
					<label class="label-con">身份证号</label>
					<input type="text" name="IDcard" placeholder="请输入身份证号" class="btn-white right text-left new-input">
				</div>
				<div class="input bg-white border-bottom safe">
					<label class="label-con">残疾证号</label>
					<input type="text" name="cid" placeholder="请输入残疾证号" class="btn-white right text-left new-input">
				</div>
			</div>
			<div class="row">
				<button value="phone-login" class="btn bg-black">确&nbsp;&nbsp;认</button>
			</div>
		</div>
	</section>
</div>

<div id="template_footer"></div>


</body>
</html>

<script>
    var fromPage;
    setInitParam();

    $(document).ready(function () {
        Templates.loadTemplates('dealer','申请经销商');
        registerClickEvent();
    });

    function setInitParam() {
        fromPage = getUrlParam('fromPage');
        if(fromPage == ''){
            fromPage = 'pageCur';
        }
    }

    function registerClickEvent() {
        $(document).on('click','.header-back',function () {
            header(fromPage);
        });
    }

</script>