<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<title>产品详情</title>
<link href="../css/main.css" rel="stylesheet">
<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>

<body class="gray">
<header class="g-detail">
	<div class="h-button">
		<a class="left"><i class="icon icon-angle-left"></i></a>
		<a class="right"><i class="icon icon-shopping-cart"></i></a>
	</div>
</header>
<section>
	<div class="container">
		<div class="row bg-magin magin-b5" style="padding:15px;">
			<p class="height40 red h3">￥7999</p>
			<p class="h4 lineheight12">Adidas阿迪达斯男女鞋Yeezy 350 v2 Boost纯白侃爷椰子运动鞋</p>
			<div class="gray height40 de-comment">
				<div class="left">
					<i class="icon icon-star yellow"></i>
					<i class="icon icon-star yellow"></i>
					<i class="icon icon-star yellow"></i>
					<i class="icon icon-star yellow"></i>
					<i class="icon icon-star-half-empty yellow"></i>
					<span class="yellow"> 4.7分</span>
				</div>
				<div class="right color6">销量 4521</div>
			</div>
		</div>
		<div class="row bg-magin detail-message magin-b5">
			<div class="li">
				<label>配送</label>
				<p>上海 至 宁波慈溪市古塘街道科技路18号智慧谷1号楼1606</p>
				<button type="button" class="right"><i class="icon icon-angle-right"></i></button>
			</div>
			<div class="li">
				<label>运费</label>
				<p>免运费</p>
				<button type="button" class="right"><i class="icon icon-angle-right"></i></button>
			</div>
			<div class="li">
				<label>说明</label>
				<p>假一赔十 | 不支持7天无理由退款</p>
			</div>
		</div>
		<div class="row bg-magin magin-b5 padding-bottom15">
			<h4 class="h4 height50 c-all">其他小伙伴们说（2345）<i class="icon icon-angle-right"></i></h4>
			<div class="cm-txt">
				<div class="cm-t-t clearfix">
					<p class="p1"><img src="../images/p-2.png"></p>
					<p class="p2">天*****屎</p>
				</div>
				<p class="c-all-text">鞋子的底很软，有支撑，不系鞋带也跟脚，鞋子很透气，夏天穿也不会闷脚，穿白色特别有精神，喜欢！！！</p>
			</div>
		</div>
		<div class="row bg-magin border-bottom">
			<ul class="g-d-main clearfix">
				<li><i class="icon icon-angle-left"></i></li>
				<li><a href="#">商品</a></li>
				<li><a href="#">评价</a></li>
				<li><a href="#" class="a-cur">详情</a></li>
				<li><i class="icon icon-shopping-cart"></i></li>
			</ul>
			<div class="img-detail">
				<p class="size16">图文详情</p>
				<div class="bg-magin padding-none">
					<img src="../images/未标题-5.jpg">
				</div>
				<div class="g-d-m">
					<p><span>产品<br>信息</span></p>
					<div class="d-m-t">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
									<td>Yeezy Boost 350 V2 侃爷椰子跑鞋</td>
								</tr>
								<tr>
									<td>颜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;色：</td>
									<td>淡米白</td>
								</tr>
								<tr>
									<td>鞋面材质：</td>
									<td>织物</td>
								</tr>
								<tr>
									<td>鞋底材质：</td>
									<td>橡胶</td>
								</tr>
								<tr>
									<td>产&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地：</td>
									<td>中国（不同批次产地可能有所不同，请以实物为准）</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>


</body>
</html>
