<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<title>产品列表</title>
<link href="../css/main.css" rel="stylesheet">
</head>

<body class="gray">

<header class="header bg-white border-bottom magin-b5">
	<div class="container">
		<div class="row">
			<button class="btn-white header-back h2"><i class="icon icon-angle-left"></i></button>
			<div class="text-center h-middle set-place">
				<button class="btn-white btn1"><i class="icon icon-search"></i></button>
				<input type="text" name="search" placeholder="输入关键字搜索物品" class="header-search h4">
			</div>
			<button class="btn-white h3 right btn2"><i class="icon icon-cog color6"></i></button>
		</div>
	</div>
</header>
<section class="magin-footer">
	<div class="container">
		<div class="row magin-b5 pro-menu bg-magin">
			<ul class="clearfix">
				<li>
					<p class="p p1"><img src="../images/1.png"></p>
					<p>女装</p>
				</li>
				<li>
					<p class="p p2"><img src="../images/2.png"></p>
					<p>男装</p>
				</li>
				<li>
					<p class="p p3"><img src="../images/3.png"></p>
					<p>内衣</p>
				</li>
				<li>
					<p class="p p4"><img src="../images/4.png"></p>
					<p>鞋靴</p>
				</li>
				<li>
					<p class="p p5"><img src="../images/5.png"></p>
					<p>家具</p>
				</li>
				<li>
					<p class="p p6"><img src="../images/6.png"></p>
					<p>家电</p>
				</li>
				<li>
					<p class="p p7"><img src="../images/7.png"></p>
					<p>母婴</p>
				</li>
				<li>
					<p class="p p8"><img src="../images/8.png"></p>
					<p>箱包</p>
				</li>
			</ul>
		</div>
		<div class="row bg-magin">
			<div class="all-of-list">
				<ol class="clearfix">
					<li class="red">综合</li>
					<li>销量</li>
					<li>价格<button class="btn-white btn1"><i class="icon icon-sort"></i></button></li>
					<li class="po-li">
						筛选
						<button class="btn-white btn2"><i class="icon icon-caret-down"></i></button>
					</li>
				</ol>
				<div class="filter">
					<div class="li clearfix">
						<h4 class="size15">分类</h4>
						<ul>
							<li>洁面</li>
							<li>卸妆</li>
							<li>面部清洁套装</li>
							<li>去油</li>
							<li>祛痘</li>
							<li>防晒</li>
						</ul>
					</div>
					<div class="li">
						<h4 class="size15">品牌</h4>
						<ul>
							<li>倩碧</li>
							<li>欧莱雅</li>
							<li>雅诗兰黛</li>
							<li>妮维雅</li>
							<li>曼秀雷敦</li>
							<li>娇韵诗</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="all-of-pro clearfix">
				<div class="mask"></div>
				<div class="left-pro">
					<ul class="clearfix">
						<li>
							<p class="t-img">
								<img src="../images/1.jpg">
							</p>
							<p class="p-title">Ryoe 吕 棕吕防脱发洗护套装</p>
							<p class="p-price"><em class="red">￥88</em><span>销量 4521</span></p>
						</li>
						<li>
							<p class="t-img">
								<img src="../images/1.jpg">
							</p>
							<p class="p-title">Ryoe 吕 棕吕防脱发洗护套装</p>
							<p class="p-price"><em class="red">￥88</em><span>销量 4521</span></p>
						</li>
						<li>
							<p class="t-img">
								<img src="../images/未标题-5.jpg">
							</p>
							<p class="p-title">Ryoe 吕 棕吕防脱发洗护套装</p>
							<p class="p-price"><em class="red">￥88</em><span>销量 4521</span></p>
						</li>
					</ul>
				</div>
				<div class="right-pro">
					<ul class="clearfix">
						<li>
							<p class="t-img">
								<img src="../images/1.jpg">
							</p>
							<p class="p-title">Ryoe 吕 棕吕防脱发洗护套装</p>
							<p class="p-price"><em class="red">￥88</em><span>销量 4521</span></p>
						</li>
						<li>
							<p class="t-img">
								<img src="../images/1.jpg">
							</p>
							<p class="p-title">Ryoe 吕 棕吕防脱发洗护套装</p>
							<p class="p-price"><em class="red">￥88</em><span>销量 4521</span></p>
						</li>
						<li>
							<p class="t-img">
								<img src="../images/1.jpg">
							</p>
							<p class="p-title">Ryoe 吕 棕吕防脱发洗护套装</p>
							<p class="p-price"><em class="red">￥88</em><span>销量 4521</span></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="footer fixed">
	<nav>
		<ul class="clearfix">
			<li>
				<a href="#">
					<p class="home-pic f-pic"><i class="icon icon-home"></i></p>
					<p class="f-text text-center">首页</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="pro-pic f-pic"><i class="icon icon-list"></i></p>
					<p class="f-text text-center">产品分类</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="shop-pic f-pic"><i class="icon icon-file-text-o"></i></p>
					<p class="f-text text-center">订单</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="user-pic f-pic"><i class="icon icon-user"></i></p>
					<p class="f-text text-center">我的</p>
				</a>
			</li>
		</ul>
	</nav>
</footer>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
	$(function(){
		var bHeight = $('.all-of-pro').height();
		var mHeight = bHeight + 90;
		$('.po-li').click(function(){
			if ($('.filter').css('display') == 'none'){
				$('.mask').css('height',mHeight);
				$('.filter').show();
				$('.mask').show();
			}else if ($('.filter').css('display') == 'block'){
				$('.filter').hide();
				$('.mask').hide();
			}
		});
		$('.mask').click(function(){
			$('.filter').hide();
			$('.mask').hide();
		});
	});
</script>
</body>
</html>
