<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>登录-火烧云</title>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<link href="../css/main.css" rel="stylesheet">
	<style>
		.flex{display: flex;}
		.flexLogin{flex-direction: column;}
		.flexLoginRow{width: 100%; border-bottom: 1px solid #ddd;}
	</style>
</head>

<body>
<section>
	<div class="container">
		<div class="row">
			<button class="login-close"></button>
		</div>
		<div class="row text-center logo-box">
			<img src="../images/logo.png" alt="Logo">
		</div>
	</div>
</section>
<section>
	<div class="container hidden">
		<div class="row login-input set-place">
			<div class="flex flexLogin">
				<div class="flex flexLoginRow">
					<input type="tel" name="user" placeholder="手机号" class="set-place" id="user_tel">
				</div>
				<div class="flex flexLoginRow">
					<input type="password" name="pwd" placeholder="登录密码" class="set-place flex" id="user_password">
					<button class="icon-eyes c1 show_pwd"><i class="icon icon-eye flex"></i></button>
				</div>
			</div>
			<p class="lost-pwd"><a href="#">忘记密码？</a></p>
			<button value="login" class="btn bg-black login_btn">登&nbsp;&nbsp;录</button>
			<div class="h4 l-register"><a href="#" class="color6 register_btn">免费注册</a><span class="text-black mobile_login_btn"><a href="#">手机号快捷登录</a></span></div>
		</div>
		<!--<div class="row login-wei">-->
			<!--<p class="color3 size15">或以以下方式登录</p>-->
			<!--<div class="weixin">-->
				<!--<img src="../images/weixin.png" alt="weixin">-->
			<!--</div>-->
		<!--</div>-->
	</div>

</section>
</body>
</html>

<script>
	var loginValue;
	registerEvent();
    showLoadingLayer('up','login');
	app('getDefaultUser');

    function callback_jsonCallback(back) {
        var backValue = handleBack(back);
        console.log(backValue);
        if(backValue['success'] != true){
            alert(backValue['message']);
            hideLoadingLayer();
            return;
		}

        switch (backValue['callback']) {
            case 'user_login':
                console.log(backValue['message']);
                app('saveUser',loginValue);
                header('index');
                break;
        }
    }

    function registerEvent() {
        $(document).on('click','.login_btn',function () {
            var user_tel = $('#user_tel').val();
            var user_password = $('#user_password').val();
            loginValue = {user_tel:user_tel,user_password:btoa(user_password)};
            app('user_login',loginValue);
        });
        $(document).on('click','.register_btn',function () {
            header('register');
        });
        $(document).on('touchstart','.show_pwd',function () {
            $('#user_password').attr('type','text');
        });
        $(document).on('touchend','.show_pwd',function () {
            $('#user_password').attr('type','password');
        });
        $(document).on('click','.lost-pwd',function () {
            header('mobileLogin', {isLostPwd:true});
        });
        $(document).on('click','.mobile_login_btn',function () {
            header('mobileLogin');
        });
        $(document).on('click','.login-close',function () {
            header('index');
        });
    }

    var mUserInf;
    function callback_getDefaultUser(userInf){
        mUserInf=userInf;
        console.log(mUserInf);
        var userValue=handleBack(userInf);
//        console.log();
        if(Number(userValue.error_code)){
            hideLoadingLayer(true);
            console.log('no default user');
        }else{
            loginValue = {user_tel:userValue.user_tel,user_password:userValue.user_password};
            app('user_login',loginValue);
        }
    }
</script>