<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<title>订单提交</title>
<link href="../css/main.css" rel="stylesheet">
</head>

<body class="gray">
<header class="header bg-white border-bottom">
	<div class="container">
		<div class="row">
			<button class="btn-white header-back h2"><i class="icon icon-angle-left"></i></button>
			<div class="text-center h-middle"><p class="h3">订单提交</p></div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		
		<div class="row set-place">
			<div class="li border-bottom2 bg-magin">
				<div class="or-li-t bg-magin clearfix">
					<button class="left"><i class="icon icon-check-circle black h2"></i></button>
					<h4 class="left">收货地址</h4>
				</div>
				<div class=" h4 bg-white clearfix border-bottom">
					<div class="li-right left">
						<p class="height50">MC大队长<span class="span-left">158 **** 6789</span></p>
						<p class="lineheight15 magin-bottom">浙江省宁波市慈溪市古塘街道科技路18号智慧谷1号楼1606室</p>
					</div>
					<div class="li-left right magin-right-none">
						<button class="btn-white h2 right btn-deli btn-order-by"><i class="icon icon-angle-right"></i></button>
					</div>
					
				</div>
				<div class="or-li-t bg-magin clearfix color6" style="padding-bottom: 10px">
					<button class="left"><i class="icon icon-circle-o h2 color6"></i></button>
					<h4 class="left">站点自取</h4>
				</div>
			</div>			
		</div>
		<div class="row bg-magin">
			<p class="size15 h-middle height50 border-bottom color6">商品列表</p>
			<div class="all-goods">
				<div class="color3 goods-li clearfix">
					<dl>
						<dt><img src="../images/未标题-2.jpg" alt="商品图片"></dt>
						<dd>
							<p class="goods-name h4 magintop15">全面压缩面膜 严选品质更好呵护</p>
							<p class="goods-number magintop10">x <span>1</span></p>
						</dd>
					</dl>
					<p class="goods-price">￥ 4.60</p>
				</div>
				<div class="color3 goods-li clearfix">
					<dl>
						<dt><img src="../images/未标题-1.jpg" alt="商品图片"></dt>
						<dd>
							<p class="goods-name h4 magintop15">全面压缩面膜 严选品质更好呵护</p>
							<p class="goods-number magintop10">x <span>2</span></p>
						</dd>
					</dl>
					<p class="goods-price">￥ 14.60</p>
				</div>
			</div>
			<div class="color6 text-right size13 order-mon">
				<p>商品总金额：23.20</p>
				<p>运&nbsp;费&nbsp;金&nbsp;额： 23.20</p>
				<p class="size16">实付总额<span class="red">￥ 1233.20</span></p>
			</div>
		</div>
		<div class="row maginbottom30">
			<button class="btn bg-red">订单提交</button>
		</div>
	</div>
</section>
</body>
</html>

