<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<title>订单详情</title>
<link href="../css/main.css" rel="stylesheet">
</head>

<body class="gray">
<header class="header bg-white border-bottom">
	<div class="container">
		<div class="row">
			<button class="btn-white header-back h2"><i class="icon icon-angle-left"></i></button>
			<div class="text-center h-middle"><p class="h3">订单详情</p></div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="row over">
			<div class="or-li-t clearfix" style="text-align: center;padding-top: 35px;">
				<button class="left" style="background-color: #f3f4f5;border: 1px solid #f3f4f5;"><i class="icon icon-check-circle green h2"></i></button>
				<h4 class="left text-center">收货地址</h4>
			</div>
		</div>
		<div class="row set-place">
			<div class="li">
				<div class="bg-magin bg-white border-bottom2">
					<div class="h4">
						<p class="size16 height40">收货地址</p>
						<p class="height30">MC大队长<span class="span-left">158 **** 6789</span></p>
						<p class="lineheight15 magin-bottom">浙江省宁波市慈溪市古塘街道科技路18号智慧谷1号楼1606室</p>
					</div>
				</div>
			</div>			
		</div>
		<div class="row bg-magin border-bottom2">
			<p class="size16 h-middle height50 border-bottom">商品信息</p>
			<div class="all-goods border-d-bottom">
				<div class="goods-li clearfix border-none">
					<dl>
						<dt><img src="../images/未标题-2.jpg" alt="商品图片"></dt>
						<dd>
							<p class="goods-name h4 magin-top magin-left">新鲜番茄</p>
							<p class="goods-number magin-top magin-left">x <span>1</span></p>
						</dd>
					</dl>
					<p class="goods-price">￥ 4.60</p>
				</div>
				<div class=" goods-li clearfix border-none">
					<dl>
						<dt><img src="../images/未标题-1.jpg" alt="商品图片"></dt>
						<dd>
							<p class="goods-name h4 magin-top magin-left">新鲜番茄</p>
							<p class="goods-number magin-top magin-left">x <span>2</span></p>
						</dd>
					</dl>
					<p class="goods-price">￥ 14.60</p>
				</div>
			</div>
			<div class="all-money" style="height: auto;">
				<p class="size15 text-right">实付金额 <span class="red">￥ 1233.20</span></p>
				<p class="text-right">(含运费)</p>
			</div>
		</div>
		<div class="row bg-magin order-mes">
			<p class="order-number p-order">订单编号<span class="right">12346579834657</span></p>
			<p class="order-time p-order">下单时间<span class="right">2017-06-08 16:36</span></p>
		</div>
	</div>
</section>
</body>
</html>
