<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<title>公告</title>
<link href="../css/main.css" rel="stylesheet">
<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>

<body>
<header class="header bg-white border-bottom">
	<div class="container">
		<div class="row">
			<button class="btn-white header-back h2"><i class="icon icon-angle-left"></i></button>
			<div class="text-center h-middle set-place">
				<label class="he-search"><i class="icon icon-search"></i></label>
				<input type="text" name="search" placeholder="输入关键字搜索物品" class="header-search h4"></div>
			<button class="btn-white h2 header-right"><i class="icon icon-shopping-cart"></i></button>
		</div>
	</div>
</header>
<section  class="magin-footer">
	<div class="container padding-bottom30">
		<div class="row bg-magin">
			<ul class="nav-shop-list bg-magin clearfix">
				<li><a href="#">全部<button class="btn-white"><i class="icon icon-sort-down"></i></button></a></li>
				<li><a href="#">排序<button class="btn-white"><i class="icon icon-sort-down"></i></button></a></li>
				<li><a href="#">筛选<button class="btn-white"><i class="icon icon-sort-down"></i></button></a></li>
			</ul>
		</div>
		<div class="row bg-magin border-top">
			<dl class="list-dl clearfix">
				<dt><img src="../images/未标题-3.jpg"></dt>
				<dd>
					<div class="dd-top clearfix">
						<div class="dd-t-l">
							<p>太平鸟男装商务休闲七分裤</p>
							<p>B2GB51730</p>
						</div>
						<div class="dd-t-r">
							<p class="red">￥88</p>
						</div>
					</div>
					<div class="dd-b clearfix">
						<p class="clearfix">
							<span><i class="icon icon-minus"></i></span>
							<span>2</span>
							<span><i class="icon icon-plus"></i></span>
						</p>
						<a class="bg-red">加入购物车</a>
					</div>
				</dd>
			</dl>
			<dl class="list-dl clearfix">
				<dt><img src="../images/未标题-3.jpg"></dt>
				<dd>
					<div class="dd-top clearfix">
						<div class="dd-t-l">
							<p>太平鸟男装商务休闲七分裤</p>
							<p>B2GB51730</p>
						</div>
						<div class="dd-t-r">
							<p class="red">￥88</p>
						</div>
					</div>
					<div class="dd-b clearfix">
						<p class="clearfix">
							<span><i class="icon icon-minus"></i></span>
							<span>2</span>
							<span><i class="icon icon-plus"></i></span>
						</p>
						<a class="bg-red">加入购物车</a>
					</div>
				</dd>
			</dl>
			<dl class="list-dl clearfix">
				<dt><img src="../images/未标题-3.jpg"></dt>
				<dd>
					<div class="dd-top clearfix">
						<div class="dd-t-l">
							<p>太平鸟男装商务休闲七分裤</p>
							<p>B2GB51730</p>
						</div>
						<div class="dd-t-r">
							<p class="red">￥88</p>
						</div>
					</div>
					<div class="dd-b clearfix">
						<p class="clearfix">
							<span><i class="icon icon-minus"></i></span>
							<span>2</span>
							<span><i class="icon icon-plus"></i></span>
						</p>
						<a class="bg-red">加入购物车</a>
					</div>
				</dd>
			</dl>
			<dl class="list-dl clearfix">
				<dt><img src="../images/未标题-3.jpg"></dt>
				<dd>
					<div class="dd-top clearfix">
						<div class="dd-t-l">
							<p>太平鸟男装商务休闲七分裤</p>
							<p>B2GB51730</p>
						</div>
						<div class="dd-t-r">
							<p class="red">￥88</p>
						</div>
					</div>
					<div class="dd-b clearfix">
						<p class="clearfix">
							<span><i class="icon icon-minus"></i></span>
							<span>2</span>
							<span><i class="icon icon-plus"></i></span>
						</p>
						<a class="bg-red">加入购物车</a>
					</div>
				</dd>
			</dl>
			<dl class="list-dl clearfix">
				<dt><img src="../images/未标题-3.jpg"></dt>
				<dd>
					<div class="dd-top clearfix">
						<div class="dd-t-l">
							<p>太平鸟男装商务休闲七分裤</p>
							<p>B2GB51730</p>
						</div>
						<div class="dd-t-r">
							<p class="red">￥88</p>
						</div>
					</div>
					<div class="dd-b clearfix">
						<p class="clearfix">
							<span><i class="icon icon-minus"></i></span>
							<span>2</span>
							<span><i class="icon icon-plus"></i></span>
						</p>
						<a class="bg-red">加入购物车</a>
					</div>
				</dd>
			</dl>
			<dl class="list-dl clearfix">
				<dt><img src="../images/未标题-3.jpg"></dt>
				<dd>
					<div class="dd-top clearfix">
						<div class="dd-t-l">
							<p>太平鸟男装商务休闲七分裤</p>
							<p>B2GB51730</p>
						</div>
						<div class="dd-t-r">
							<p class="red">￥88</p>
						</div>
					</div>
					<div class="dd-b clearfix">
						<p class="clearfix">
							<span><i class="icon icon-minus"></i></span>
							<span>2</span>
							<span><i class="icon icon-plus"></i></span>
						</p>
						<a class="bg-red">加入购物车</a>
					</div>
				</dd>
			</dl>
		</div>
	</div>
</section>
<footer class="footer fixed">
	<nav>
		<ul class="clearfix">
			<li>
				<a href="#">
					<p class="home-pic f-pic"><i class="icon icon-home"></i></p>
					<p class="f-text text-center">首页</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="pro-pic f-pic"><i class="icon icon-list"></i></p>
					<p class="f-text text-center">产品分类</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="shop-pic f-pic"><i class="icon icon-file-text-o"></i></p>
					<p class="f-text text-center">订单</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="user-pic f-pic"><i class="icon icon-user"></i></p>
					<p class="f-text text-center">我的</p>
				</a>
			</li>
		</ul>
	</nav>
</footer>
</body>
</html>
