<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>购物车</title>
	<link href="../css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/template.js"></script>
	<style>
		.goods-name{
			height: 30%;
		}
		.edit_mode{
			display: none;
		}
		.box_element{
			display: none;
		}
		.product_element{
			display: none;
		}
		.product_prop{
			color: #666;
			font-size: .8em;
		}
		.product_name{
			font-size: 1.2em;
		}

		.margin-right15{
			margin-right: 15px;
		}

		.noItemContainer{
			height: 50%;
			width: 100%;
			color: #888;
		}

	</style>
</head>

<body class="gray">

<div id="template_header"></div>

<div id="template_body">
	<div class="noItemContainer hiddenElement flex flex-center">
		<div class="message">asdf</div>
	</div>
	<section class="magin-footer">
		<div class="container haveItemContainer">
			<!--商店容器-->
			<div class="row bg-magin" id="cart_container">
				<!--商店元素-->
				<div class="goods-type bg-magin border-bottom2 box_element" id="cart_box_element">
					<!--元素头-->
					<div class="bg-magin clearfix cart-tab">
						<button class="h2 btn-white left btn1 margin-right15">
							<!--<i class="icon icon-circle-thin"></i>-->
							<div class="left h2 outerCheckBox">
								<input type="checkbox" class="custom_checkbox" />
								<label class="icon"></label>
							</div>
						</button>
						<button class="h3 btn-white left btn2">
							<i class="icon icon-home"></i>
						</button>

						<p class="left size15 box_name">自营国内仓</p>
						<a class="right size15 edit_btn normal_mode">编辑</a>
						<a class="right size15 edit_confirm_btn edit_mode">完成</a>
					</div>
					<!--元素体 商店产品容器-->
					<div class="all-goods product_container">
						<div class="color3 goods-li clearfix padding20 product_element" id="cart_product_element">
							<i class="itemID hiddenElement"></i>
							<i class="skuID hiddenElement"></i>
							<button class="h2 btn-white left" style="height: 100%;margin-top: 30px;">
								<!--<i class="icon icon-check-circle "></i>-->
								<div class="left h2 innerCheckBox">
									<input type="checkbox" class="custom_checkbox" />
									<label class="icon"></label>
								</div>
							</button>
							<dl>
								<dt><img src="../images/未标题-2.jpg" class="product_img" alt="商品图片"></dt>
								<dd>
									<p class="goods-name magin-top magin-left product_name">产品名称</p>
									<p class="goods-name magin-top magin-left product_prop">参数信息</p>
									<p class="magin-left det-goods-r clearfix edit_mode">
										<span class="num_btn num_minus"><i class="icon icon-minus"></i></span>
										<span><i class="product_count"></i></span>
										<span class="num_btn num_plus"><i class="icon icon-plus"></i></span>
									</p>
								</dd>
							</dl>
							<div class="goods-p size15 normal_mode">
								<p class="p-top">￥ <i class="product_price"></i></p>
								<p class="p-bottom size13"> x<i class="product_count"></i> </p>
							</div>
							<div class="goods-p size15 edit_mode">
								<p class="p-top">￥ <i class="product_price"></i></p>
								<a class="p-bottom delete_btn"><i class="icon icon-trash-o"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--总价容器-->
			<div class="row bg-magin padding-bottom30">
				<div class="height50 text-center bg-magin h4 border-bottom">
					<p>总金额 <span class="red size16"> ￥ <i id="total_price">0.00</i></span></p>
				</div>
				<button class="btn bg-red magintop15 checkOutBtn">结&nbsp;&nbsp;算</button>
			</div>
		</div>
	</section>
</div>

<div id="template_footer"></div>


</body>
</html>


<script>
    var fromPage,elementList,deletedItemList,deletedSkuList;
    setInitParam();

    $(document).ready(function () {
        Templates.loadTemplates('shopCart','购物车');
        registerClickEvent();
        app('cart_list');
    });

    function setInitParam() {
        fromPage = getUrlParam('fromPage');
        if(!fromPage){
            fromPage = 'index';
        }

        //克隆元素列表
        elementList=prepareElement('#cart_box_element','#cart_product_element');
        //删除物品id列表
        deletedItemList = [];
        deletedSkuList = [];
    }

    function registerClickEvent() {
        $(document).on('click','.header-back',function () {
            header(fromPage,{'fromPage':''});
        });
        $(document).on('change','.innerCheckBox',function () {
            var item = $(this).parent().parent();
            var itemContainer = item.parent();
            item.toggleClass('selected');
            calculateSum();
            var outerCheckBox = itemContainer.parent().find('.outerCheckBox');
            var selected_count = itemContainer.find('.selected').length;
            if(selected_count == 0){
                outerCheckBox.find('input').prop('checked',false);
			}else{
                outerCheckBox.find('input').prop('checked',true);
			}
            var total_displayed_count = $('.displayed_product').length;
            var total_selected_count = $('.selected').length;
//			console.log('displayed:'+total_displayed_count+' selected:'+total_selected_count);

            if(total_displayed_count == total_selected_count){
                $('#footer_selectAll').prop('checked',true);
			}else{
                $('#footer_selectAll').prop('checked',false);
			}
        });
        $(document).on('change','.outerCheckBox',function () {
            var itemContainer = $(this).parent().parent().parent();
            var checkState = $(this).find('input').prop('checked');
            var subCheckBox = itemContainer.find('.innerCheckBox input');
            subCheckBox.each(function (k,v) {
                var item = $(v).parent().parent().parent();
                if(item.hasClass('product_element')){
                    return true;
				}else{
                    $(v).prop('checked',checkState);
                    $(v).trigger('change');
				}
            });
        });
        $(document).on('change','#footer_selectAll',function () {
			var selectState = $(this).prop('checked');
//            console.log(selectState);
			$('.innerCheckBox').each(function (k, v) {
                var item = $(v).parent().parent();
			    if(item.hasClass('product_element')){
                    return true;
				}else{
			        var preState = $(v).find('input').prop('checked');
                    $(v).find('input').prop('checked',selectState);
                    if(preState != selectState){
                        $(v).trigger('change');
					}
				}
            });
        });
		$(document).on('click','.edit_btn',function () {
			var currentBox = $(this).parent().parent();
			editBox(currentBox);
        });
        $(document).on('click','.edit_confirm_btn',function () {
            var currentBox = $(this).parent().parent();
            confirmBox(currentBox);
        });
        $(document).on('click','.num_btn',function () {
            var btn = $(this);
            var product = btn.parent().parent().parent().parent();
            var numTag = product.find('.product_count');
            var count = Number($(numTag[0]).text());
            if(btn.hasClass('num_minus')){
                if(count>1){
                    count--;
                    numTag.text(count);
                    $('.product_count').trigger('change');
				}else{return;}
			}
            else if(btn.hasClass('num_plus')){
                if(count<99){
                    count++;
                    numTag.text(count);
                    $('.product_count').trigger('change');
                }else{return;}
            }else{return;}
            var itemId = product.find('.itemID').text();
            var skuId = product.find('.skuID').text();
//            console.log('id is '+ id + ' count is '+ count);
            cartModify(itemId,skuId,count);
        });
        $(document).on('change','.product_count',function () {
			calculateSum();
        });
        $(document).on('click','.delete_btn',function () {
            var item = $(this).parent().parent();
            deleteItem(item);
        });
        $(document).on('click','.checkOutBtn',function () {
            preOrder();
        });
    }

    function callback_jsonCallback(back) {
        var backValue = handleBack(back);
        console.log(backValue);
        if(backValue['success'] == false){
            if(backValue['callback'] == 'cart_list' && backValue['error_code'] == 100){
                hidePage(backValue['message']);
			}else{
                console.log('callback ERR: '+backValue['message']);
			}

            return;
        }

        switch (backValue['callback']) {
            case 'cart_list':
                refreshCartList(backValue['data']);
                break;
            case 'cart_del':
                console.log(backValue['message']);
                break;
            case 'order_pre_order':
                var preOrderIds = backValue['data']['pre_order_ids'];
                header('orderBy',{'preOrderIds': preOrderIds});
                break;
        }
    }

    function hidePage(message) {
        $('.haveItemContainer').addClass('hiddenElement');
        $('.noItemContainer').removeClass('hiddenElement');
        $('.noItemContainer .message').text(message);
        var header = $('#template_header');
        var footer = $('#template_footer');
        var body = $('#template_body');
        var totalHeight = window.screen.height;
        var headerHeight = header.height();
        body.children()[0].remove();
        body.css('top',headerHeight);
        body.css('overflow-y','hidden');
        body.height(totalHeight-headerHeight);
        footer.hide();
    }

    function refreshCartList(data) {
        var container = $('#cart_container');
        container.empty();
        console.log(data);
        $.each(data,function(k,v){
            var cart_box=elementList['#cart_box_element'].clone();
            cart_box.removeClass('box_element');
            cart_box.removeAttr('id');
            cart_box.find('.box_name').text(v['cate_name']);

            var outerCheckBox = cart_box.find('.outerCheckBox');
            outerCheckBox.find('input').attr('id',v['cate_name']);
            outerCheckBox.find('label').attr('for',v['cate_name']);

			var product_container = cart_box.find('.product_container');
			$.each(v['item_list'],function (key, value) {
                var product_box=elementList['#cart_product_element'].clone();
                product_box.removeClass('product_element');
                product_box.addClass('displayed_product');
                product_box.removeAttr('id');
                product_box.find('.product_name').text(value['title']);
                product_box.find('.product_prop').text(value['props']);
                product_box.find('.product_img').attr('src',value['img']);
                product_box.find('.product_img').attr('alt',value['title']);
                product_box.find('.product_price').text(disPlayPrice(value['price']));
                product_box.find('.product_count').text(value['num']);
                product_box.find('.itemID').text(value['item_id']);
                product_box.find('.skuID').text(value['sku_id']);

                var innerCheckBox = product_box.find('.innerCheckBox');
                innerCheckBox.find('input').attr('id','skuId_'+value['sku_id']);
                innerCheckBox.find('label').attr('for','skuId_'+value['sku_id']);
                product_container.append(product_box);
            });

            container.append(cart_box);
        });
    }

    function calculateSum() {
        var sum = 0;
        $('.selected').each(function () {
            var priceTag = $(this).find('.product_price')[0];
            var numTag = $(this).find('.product_count')[0];
            var price = $(priceTag).text();
            var num = $(numTag).text();
            console.log(price + '*' + num);
            sum += price * 100 * num;
        });
        $('#total_price').text(disPlayPrice(sum));
        $('#footer_sum').text(disPlayPrice(sum));
//        console.log(sum);
    }

    function editBox(box) {
        box.find('.normal_mode').hide();
		box.find('.edit_mode').show();
    }

    function confirmBox(box) {
        box.find('.normal_mode').show();
        box.find('.edit_mode').hide();
        cartDelete();
    }

    function deleteItem(item) {
        var itemID = item.find('.itemID').text();
        var skuID = item.find('.skuID').text();
		console.log('should delete '+ item.find('.product_name').text());
        console.log('its itemId is '+ itemID);
        item.removeClass('displayed_product');
        item.hide();
        var itemContainer = item.parent();
        var displayedCount = itemContainer.find('.displayed_product').length;
        console.log(displayedCount);
        if(displayedCount<1){
            itemContainer.parent().hide();
            cartDelete();
		}
        deletedItemList.push(itemID);
        deletedSkuList.push(skuID);
    }

    function cartDelete() {
        if(deletedItemList.length>0){
            var idString = deletedItemList.join('_');
            var skuString = deletedSkuList.join('_');
            var deleteInfo = {iids:idString,sku_ids:skuString};
            app('cart_del',deleteInfo);
		}
    }

    function cartModify(itemId,skuId,num) {
        var info = {item_id: itemId, sku_id: skuId, num: num};
        console.log(info);
        app('cart_modify',info);
    }

    function preOrder() {
        var itemList = [];
        $('.selected').each(function () {
            var idTag = $(this).find('.itemID')[0];
            var skuTag = $(this).find('.skuID')[0];
            var numTag = $(this).find('.product_count')[0];
            var id = $(idTag).text();
            var skuId = $(skuTag).text();
            var num = $(numTag).text();
            var item = {"item_id":id,"num":num,"sku_id":skuId};
            itemList.push(item);
        });
        console.log(itemList);
        var param = {"items":itemList};
        app('order_pre_order',param);
    }

</script>