<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>收货地址</title>
	<link href="../css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/template.js"></script>
	<style>
		.flexRow{
			width: 100%;
		}
		.addressList{
			flex-wrap: wrap;
		}
		.addressBox{
			margin-bottom: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
			line-height: 20px;
		}
		.addressBox .leftPart{
			width:20%;
		}
		.addressBox .rightPart{
			width:80%;
			flex-wrap: wrap;
		}
		.addressBox .rightPart .upperPart{
			width: 90%;
			justify-content: flex-start;
			margin-bottom: 5px;
		}
		.addressBox .rightPart .underPart{
			width: 90%;
			justify-content: flex-start;
			margin-bottom: 5px;
		}
		.addressBox .AddressTel{
			margin-left: 30px;
		}
		.addressBox .AddressDefaultTag{
			margin-left: 30px;
			color:#666;
			font-size: .8em;
		}
	</style>
</head>

<body class="gray">

<div id="template_header"></div>

<div id="template_body">
	<section>
		<div class="container">
			<div class="row set-place delivery address addressList flex">
				<div class="flex flex-center flexRow addressBox bg-magin h4 bg-white hiddenElement" id="addressElement">
					<div class="flex flex-center leftPart">
						<div class="left h2 CheckBox">
							<input type="radio" name="address" class="custom_checkbox" id="checkBox" />
							<label class="icon" for="checkBox"></label>
						</div>
					</div>
					<div class="flex rightPart">
						<div class="flex upperPart">
							<i class="AddressId hiddenElement"></i>
							<div class="AddressName">MC大队长</div>
							<div class="AddressTel">158 **** 6789</div>
							<div class="AddressDefaultTag hiddenElement">默认地址</div>
						</div>
						<div class="flex underPart">
							<div class="AddressFullAddress">浙江省宁波市慈溪市古塘街道科技路18号智慧谷1号楼1606室</div>
						</div>
					</div>
				</div>
			</div>
	<!--		<i class="icon icon-plus"></i><span class="magin-left">添加收货地址</span>-->
			<div class="row bg-magin add-top addAddress_btn">
				<p class="size15 h-middle text-center height50"><i class="h3 weight">+</i><span class="magin-left">新增收货地址</span></p>
			</div>
		</div>
	</section>
</div>

<div id="template_footer"></div>

<script>
    var fromPage,elementList,selectedAddressID,preOrderIds;
    setInitParam();

    $(document).ready(function () {
        Templates.loadTemplates('shopAddress','收货地址');
        registerClickEvent();
        app('userreceiving_info');
    });

    function setInitParam() {
        //初始化预订单ID
        preOrderIds = getUrlParam('preOrderIds');
        fromPage = getUrlParam('fromPage');
        if(preOrderIds == ''){
            fromPage = 'pageCur';
        }else{
            fromPage = 'orderBy';
		}
        //克隆元素列表
        elementList=prepareElement('#addressElement');

        selectedAddressID = '';
    }

    function registerClickEvent() {
        $(document).on('click','.header-back',function () {
            if(preOrderIds){
                header(fromPage,{'fromPage':'','preOrderIds':preOrderIds,'addressId':selectedAddressID});
			}else{
                header(fromPage,{'fromPage':''});
			}
        });
        $(document).on('click','.addAddress_btn',function () {
            header('newAddress',{'preOrderIds':preOrderIds});
        });

        $(document).on('click','.custom_checkbox',function () {
            var id = $(this).attr('id');
            var checked = $(this).prop('checked');

            if(checked){
                selectedAddressID = id;
			}else{
                selectedAddressID = '';
			}

            console.log(selectedAddressID);
        });
    }

    function callback_jsonCallback(back) {
        var backValue = handleBack(back);
        console.log(backValue);
        if(backValue['success'] == false){
            console.log('callback ERR: '+backValue['message']);
            return;
        }

        switch (backValue['callback']) {
            case 'userreceiving_info':
                console.log(backValue['data']);
                displayReceivingList(backValue['data']['list']);
                break;
        }
    }

    function displayReceivingList(list) {
        console.log(list);
        var container = $('.addressList');

        $.each(list,function(k,v) {
//            console.log(v);
            var address_element = elementList['#addressElement'].clone();
            address_element.removeClass('hiddenElement');
            address_element.removeAttr('id');
            address_element.addClass('displayedAddress');

            address_element.find('.CheckBox input').attr('id',v['id']);
            address_element.find('.CheckBox label').attr('for',v['id']);

            address_element.find('.AddressId').text(v['id']);
            address_element.find('.AddressName').text(v['name']);
            address_element.find('.AddressTel').text(v['tel']);
            address_element.find('.AddressFullAddress').text(v['address_full']);
            if(v['is_default']){
                address_element.find('.AddressDefaultTag').removeClass('hiddenElement');
                address_element.find('.custom_checkbox').trigger('click');
                selectedAddressID = v['id'];
            }




            container.append(address_element);
        });
    }
</script>
</body>
</html>
