<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>实名认证</title>
	<link href="../css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/template.js"></script>
</head>

<body>

<div id="template_header"></div>

<div id="template_body">
	<section>
		<div class="container">
			<div class="row set-place address">
				<div class="input bg-white border-bottom safe">
					<label class="label-con">姓&nbsp;&nbsp;&nbsp;名</label>
					<input type="text" name="user" placeholder="请填写真实姓名" class="btn-white right text-left new-input" readonly>

				</div>
				<div class="input bg-white border-bottom">
					<label class="label-con">身份证号</label>
					<input type="text" name="tel" placeholder="请填写身份证号" class="btn-white new-input">
				</div>
				<div class="input bg-white border-bottom">
					<label class="label-con">联系方式</label>
					<input type="text" name="name" placeholder="请填写联系电话" class="btn-white new-input">
				</div>
				<div class="input bg-white border-bottom">
					<label class="label-con">单&nbsp;&nbsp;位</label>
					<input type="text" name="name" placeholder="请填写单位名称" class="btn-white new-input">
				</div>
			</div>
			<div class="row">
				<button value="register" class="btn bg-black">确&nbsp;&nbsp;认</button>
			</div>
		</div>
	</section>
</div>
<div id="template_footer"></div>

</body>
</html>

<script>
    var fromPage,newDataInfo;


    $(document).ready(function () {
        Templates.loadTemplates('smrz','实名认证');
        registerClickEvent();
    });

    function setInitParam() {
        fromPage = getUrlParam('fromPage');
        if(fromPage == null){
            fromPage = 'userMessage';
        }

        //在 refreshUserInfo() 中真正赋值
        newDataInfo={};

    }

    function registerClickEvent() {
        $(document).on('click','.header-back',function () {
            console.log('aaa');
            if(fromPage){
                header(fromPage);
            }else{
                header('userMessage',{'fromPage':''});
            }

        });
    }
</script>