<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<title>实名认证</title>
<link href="../css/main.css" rel="stylesheet">
</head>

<body class="gray">
<header class="header bg-white border-bottom">
	<div class="container">
		<div class="row">
			<button class="btn-white header-back h2"><i class="icon icon-angle-left"></i></button>
			<div class="text-center h-middle"><p class="h3">实名认证</p></div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="row set-place address">
			<div class="input bg-white border-bottom safe">
				<label class="label-con">姓&nbsp;&nbsp;&nbsp;名</label>
				<input type="text" name="user" placeholder="请填写真实姓名" class="btn-white right text-left new-input" readonly>
				
			</div>
			<div class="input bg-white border-bottom">
				<label class="label-con">身份证号</label>
				<input type="text" name="tel" placeholder="请填写身份证号" class="btn-white new-input">
			</div>
			<div class="input bg-white border-bottom">
				<label class="label-con">联系方式</label>
				<input type="text" name="name" placeholder="请填写联系电话" class="btn-white new-input">
			</div>
			<div class="input bg-white border-bottom">
				<label class="label-con">单&nbsp;&nbsp;位</label>
				<input type="text" name="name" placeholder="请填写单位名称" class="btn-white new-input">
			</div>
		</div>
		<div class="row">
			<button value="register" class="btn bg-black">确&nbsp;&nbsp;认</button>
		</div>
	</div>
</section>
</body>
</html>
