<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>提现</title>
	<link href="../css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/template.js"></script>
</head>

<body class="gray">

<div id="template_header"></div>

<div id="template_body">
	<section>
		<div class="container">
			<div class="row set-place address">
				<div class="input bg-white border-bottom safe">
					<label class="label-con">提现账号</label>
					<input type="text" name="username" placeholder="实名认证姓名" class="btn-white right text-left new-input">
				</div>
				<div class="input bg-white border-bottom safe">
					<label class="label-con">银行卡号</label>
					<input type="text" name="bankid" placeholder="请输入本人银行卡号" class="btn-white right text-left new-input">
				</div>
				<p class="validate"><i class="icon icon-info-circle">查看可支持银行</i></p>
				<div class="input bg-white border-bottom safe">
					<label class="label-con">提现金额</label>
					<input type="text" name="user" placeholder="请输入提现金额（元）" class="btn-white right text-left new-input">
				</div>
				<p class="validate lineheight-top">本次可提现42.90元，今日上限500.00元</p>
			</div>
			<div class="row">
				<button value="register" class="btn bg-black">完&nbsp;&nbsp;成</button>
			</div>
		</div>
	</section>
</div>
<div id="template_footer"></div>

</body>
</html>

<script>
    var fromPage;
    setInitParam();

    $(document).ready(function () {
        Templates.loadTemplates('tx','提现');
        registerClickEvent();
    });

    function setInitParam() {
        fromPage = getUrlParam('fromPage');
        if(fromPage == ''){
            fromPage = 'pageCur';
        }
    }

    function registerClickEvent() {
        $(document).on('click','.header-back',function () {
            header(fromPage,{fromPage:''});
        });
    }

</script>
